<div style="text-align: center;">  
 <h2>Edit post</h2>
 <br>
 <%= form_for @post, url: update_post_path do |f| %>
   <div>
     <%= f.text_field :title, placeholder: "title" %>
   </div><br>
   <div>
     <%= f.text_field :content, placeholder: "content" %>
   </div><br>
   <%= f.submit "Submit Fields" %>
 <% end %>
</div>