
<div id ="new_post_form">
<%= form_for [@city, @post], url: create_posts_path do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title", :class => 'form-control' %>
  </div>
  <div>
    <%= f.text_field :content, placeholder: "Content", :class => 'form-control textfield'%>
  </div><br>
  <%= f.submit "Add Post", :class => 'btn btn-primary' %>
<% end %>
</div>