<div id ="new_post_form">
	<%= form_for @post, url: create_posts_path do |f| %>
	  <div>
	    <%= f.text_field :title, placeholder: "Title", :class => 'form-control'%>
	  </div>
	  <div>
	    <%= f.text_field :content, placeholder: "Content",:class => 'form-control textfield' %>
	  </div><br>
	  <div>
	  <%= f.button :submit, data: { enable_with: true }, :class => 'btn btn-primary' %>
	</div>
	<% end %>
</div>
