<div>
	<%= form_for @post, url: create_posts_path do |f| %>
	  <div>
	    <%= f.text_field :title, placeholder: "Title" %>
	  </div>
	  <div>
	    <%= f.text_field :content, placeholder: "Content" %>
	  </div><br>
	  <div>
	  <%= f.button :submit, data: { enable_with: true } %>
	</div>
	<% end %>
</div>