// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	text-align:center; 
}

.city_headings{
	color: black;
	font-size: 25px;
}

.show_heading{
	color:black; 
	font-size:25px;
}

img{
	height:270px;
	width:400px;
}

