// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.floatleft {
   float:left;
   width: 30%;
   height: 400px;
   text-align:left;
}

body {
   background-color: white;
}

.floatright {
text-align:left;
padding-left:50px;
float: right;
height: 400px;
width: 70%;
}


.textfield{
  margin-top:10px;
  height: 200px;
}

#new_post_form{
  margin-top:30px; 
}

#post-content{
	padding-bottom: 20px; 
	border-bottom: solid gray; 
}